In [2]:
from pyspark.sql import SparkSession #DataFrame object will be created using SparkSessio
spark = SparkSession.builder.appName("Spark Dataframe Intro").getOrCreate()
from pyspark.sql import SparkSession #DataFrame object will be created using SparkSessio
spark = SparkSession.builder.appName("Spark Dataframe Intro").getOrCreate()

earthquakeDF= spark.read.option("header","true")\
                        .option("delimiter","\t")\
                        .csv("datasets/EarthquakeDataset.txt")
earthquakeDF = earthquakeDF.select("Date","Latitude","Longitude","xM","Location")
earthquakeDF.show()

+----------+--------+---------+---+--------------------+
|      Date|Latitude|Longitude| xM|            Location|
+----------+--------+---------+---+--------------------+
|2020.12.31| 37.8435|  26.7775|3.8|          EGE DENIZI|
|2020.12.30| 36.4918|  28.7092|3.9|             AKDENIZ|
|2020.12.30| 37.7960|  26.4165|4.4|ONIKI ADALAR (AKD...|
|2020.12.27| 38.4172|  39.1482|3.9|KAVAKKOY-SIVRICE ...|
|2020.12.27| 36.4750|  28.7852|4.2|             AKDENIZ|
|2020.12.27| 38.5050|  39.2180|5.6|KAVAKTEPE- (ELAZI...|
|2020.12.26| 38.5305|  39.2102|4.1|KAVAKTEPE- (ELAZI...|
|2020.12.26| 38.0033|  42.9642|3.9|KORULU-CATAK (VAN...|
|2020.12.23| 36.5213|  28.6950|3.7|             AKDENIZ|
|2020.12.23| 37.8888|  27.6075|3.7|DAGKARAAGAC-GERME...|
|2020.12.22| 35.7737|  36.4470|3.9|              SURIYE|
|2020.12.20| 37.8967|  43.8062|4.5|AYDEMIR-BASKALE (...|
|2020.12.20| 37.1260|  28.5738|4.0|ARICILAR-ULA (MUG...|
|2020.12.18| 37.1175|  31.0832|3.7|ETLER-SERIK (ANTA...|
|2020.12.18| 35.7012|  26.2608|3.6|             AKDENIZ|
|2020.12.17| 35.7032|  26.2382|4.6|             AKDENIZ|
|2020.12.15| 35.7040|  26.2952|3.8|             AKDENIZ|
|2020.12.15| 35.6910|  26.2818|3.9|             AKDENIZ|
|2020.12.14| 38.8573|  43.5082|4.7|ERMISLER- (VAN) [...|
|2020.12.13| 37.6830|  27.0502|3.5|MILLI PARK-KUSADA...|
+----------+--------+---------+---+--------------------+
only showing top 20 rows

In [3]:
#SparkSQL  -- can be used for ETL (Extract, Transform, Load operations)
earthquakeDF.createOrReplaceTempView("earthquake") # Registering Dataframe as a View
resultDF = spark.sql("select * from  earthquake where xM>7.0 order by xM desc")
resultDF.show()

+----------+--------+---------+---+--------------------+
|      Date|Latitude|Longitude| xM|            Location|
+----------+--------+---------+---+--------------------+
|1939.12.26| 39.8000|  39.5100|7.9|KURUTILEK- (ERZIN...|
|1926.06.26| 36.5400|  27.3300|7.7|ONIKI ADALAR (AKD...|
|1930.05.06| 37.9800|  44.4800|7.6|T�RKIYE-IRAN SINI...|
|1976.11.24| 39.0500|  44.0400|7.5|YENIYAKA-CALDIRAN...|
|1999.08.17| 40.7600|  29.9700|7.4|BASISKELE (KOCAEL...|
|1912.08.09| 40.6000|  27.2000|7.3|ERIKLICE-SARKOY (...|
|1999.11.12| 40.7400|  31.2100|7.2|UGUR- (DUZCE) [No...|
|1953.03.18| 39.9900|  27.3600|7.2|SOGUCAK-YENICE (�...|
|1948.02.09| 35.4100|  27.2000|7.2|             AKDENIZ|
|1943.11.26| 41.0500|  33.7200|7.2|COMERT-ILGAZ (�AN...|
|1944.02.01| 40.7871|  31.8723|7.2|    ULUMESCIT-(BOLU)|
|2011.10.23| 38.7212|  43.4110|7.2|YEMLICE- (VAN) [N...|
|1957.05.26| 40.6700|  31.0000|7.1|GUZELDERE-GOLYAKA...|
|1957.04.25| 36.4200|  28.6800|7.1|             AKDENIZ|
|1916.01.24| 40.2700|  36.8300|7.1|TEKNECIK-ALMUS (T...|
+----------+--------+---------+---+--------------------+

In [7]:
resultDF.coalesce(1).write.option("header", "true").option("sep","\t").csv("sample_file.csv")